.header {
    font-size: 50px;
    text-align: center;
}


.first { 
text-align: center;
width: 300px;
font-size: 30px;
position: absolute;
top: 75px;
left: 100px;
}
.small {
    text-align: center;
    width: 300px;
    font-size: 27px;
    position: absolute;
    top: 68px;
    left: 100px;   
}

.link1 {
    text-align: center;
    font-size: 23px;
    position: absolute;
    top: 1200px;
    right: 320px;
}

.link2 {
    text-align: center;
    font-size: 23px;
    position: absolute;
    top: 1300px;
    right: 305px;
}   
.link3 {
    text-align: center;
    font-size: 23px;
    position: absolute;
    top: 1400px;
    right: 320px;
}

.poslink {

    position: absolute;
    top: 760px;
    right: 550px;
    text-align: center;
    width: 300px;
    height:400px ;
    border: 4px solid rgb(53, 94, 206);
    margin: 0 auto;
    font-size: 20px;
    background-color: rgb(255, 255, 255);

}

body {
    background: rgb(246,173,69);
    background: linear-gradient(90deg, rgba(246,173,69,1) 0%, rgba(255,206,147,1) 64%);
      }



.pos {
    position: absolute;
    top: 300px;
    left: 300px;
}
.pos2 {
    position: absolute;
    top: 350px;
    left: 400px;
}

.pos3 {
    position: absolute;
    top: 350px;
    right: 400px;
}
.pos4 {
    position: absolute;
    top: 350px;
    left: 350px;
    font-size: 300px;
}


.pos5 {
    position: absolute;
    top: 350px;
    right: 350px;
}
.pos6 {
    position: absolute;
    top: 350px;
    left: 350px;
}

.pos7 {
    position: absolute;
    top: 350px;
   right: 350px;
}
.pos8 {
    position: absolute;
    top: 350px;
    left: 350px;
}
.pos9 {
    position: absolute;
    top: 350px;
    right: 350px;
}






.postab {

        position: relative;
        left: 350px;
        text-align: center;
        width: 502px;
        border: 2px solid rgb(241, 169, 13);
        margin: 0 auto;
        font-size: 20px;
        opacity: 1;
        
    
    
  
}



/* Style the tab */
.tab {
    position: relative;
    top: 94px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fadc9c;
    opacity: 1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #dfc898;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #dac391;
  }
  
  /* Style the tab content */
  .tabcontent {
    position: relative;
    top: 94px;
    display: none;
    font-size: 27px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
